body{
  
  justify-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Raleway',Arial,sans-serif;
  background: #7f9ead;
}


.card{
  margin-top: 250px;
  border: 1px solid black;
  width: 300px;
  height: 180px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.6);
  transition: 0.3s;
  padding: 30px 50px;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
 
  
}
.card:hover{
  height: 300px;
}




.image-one{
  width: 100%;
 
  border-radius: 10px;
  transform: translateY(-100px);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.6);
 
 

  
 
}
.Container{
  position: relative;
  z-index: 999;
 
}
.text-container{
padding: 10px 20px;
text-align: center;
transform: translateY(-200px);
opacity: 0;
transition: 0.30s;  
}
.card:hover > .text-container{
  opacity: 1;
  transform: translateY(-90px);
  transition: 0.2s;
}